{% extends 'ono/base.html' %}
{% load static %}
{% block content %}
<script>
    $(document).ready(function () {
        $.getScript("{% static 'js/ono-0.1.0.js' %}", function () {
        });
    });

    function submit_loading() {
        alert('a');
        $("#mint_submit_button").addClass('loading');
    }
</script>

<div class="ui stackable four column centered grid" style="margin:auto;">
    <div class="two column centered row">
        <div class="column" style="padding-top:25px;">
            <form class="ui form" action="{% url 'ono:mint' user.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="field">
                    <label>User ID</label>
                    <input type="text" name="user_id" placeholder="User ID" value="{{ user.id }}" disabled>
                </div>
                <div class="field">
                    <label>User Name</label>
                    <input type="text" name="user_name" placeholder="User Name" value="{{ user.username }}" disabled>
                </div>
                <div class="field">
                    <label>Private Key</label>
                    <input type="text" name="private_key" placeholder="Private Key">
                </div>
                <div class="field">
                    <label>Blockchain (1: ETH)</label>
                    <input type="number" name="blockchain" placeholder="Blockchain" value="1">
                </div>
                <div class="field">
                    <label>Collection ID</label>
                    <input type="text" name="collection_id" placeholder="Collection ID" value="1">
                </div>
                <div class="field">
                    <label>Title</label>
                    <input type="text" name="title" placeholder="Title">
                </div>
                <div class="field">
                    <label>Media Type (1: Image)</label>
                    <input type="number" name="media_type" placeholder="Token size" value="1">
                </div>
                <!-- <div class="field">
                    <label>IPFS Path</label>
                    <input type="text" name="ipfs_path" placeholder="IPFS Path">
                </div>
                <div class="field">
                    <label>Token Path</label>
                    <input type="text" name="token_path" placeholder="Token Path">
                </div>
                <div class="field">
                    <label>SHA256 Hash</label>
                    <input type="text" name="sha256_hash" placeholder="SHA256 Hash">
                </div> -->
                <div class="field">
                    <label>Description</label>
                    <input type="text" name="description" placeholder="Description">
                </div>
                <!-- <div class="field">
                    <label>Owner</label>
                    <input type="text" name="owner" placeholder="Owner">
                </div> -->
                <div class="field">
                    <label>Token Image</label>
                    <input type="file" name="token_image" id="token_image" accept="image/*" multiple>
                </div>
                <div align="right">
                    <button class="ui blue submit button" type="submit" id="mint_submit_button"
                        onClick="submit_loading()">Submit</button>
                </div>
            </form>
        </div>

        <div class="ui divider"></div>

    </div>
    <div class="one column centered row">
        <div class="right aligned column">
            <a href="https://github.com/waikiki-korea" target="_blank"><img
                    src="{% static 'img/GitHub-Mark-64px.png' %}" style="width:25px;"></a>
            <p>Copyright &copy; 2022 <b>Team Waikiki</b> all rights reserved.</p>
        </div>
    </div>
</div>
{% endblock %}